<%- include('layout') -%>
<form action="/alunos/add" method="post">
  <label>Nome:</label>
  <input type="text" name="nome" required><br><br>
  <label>Idade:</label>
  <input type="number" name="idade" required><br><br>
  <input type="submit" value="Submit">
</form>
