<%- include('layout') -%>
<form action="/deleteprofessor/delete" method="post">
  <label>ID:</label>
  <input type="number" name="siape" required><br><br>
   <input type="submit" value="Submit">
</form>
