<%- include('layout') -%>
<table>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Idade</th>
  </tr>
  <% alunos.forEach(aluno => { %>
  <tr>
    <td><%= aluno.id %></td>
    <td><%= aluno.nome %></td>
    <td><%= aluno.idade %></td>
  </tr>
  <% }); %>
</table>
