<%- include('layout') -%>
<form action="/professor/delete" method="post">
        <label>ID:</label>
      <input type="number" name="id" required><br><br>
      <input type="submit" value="Submit">
    </form>
    