<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1><%= title %></h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/alunos">Listar Alunos</a></li>
    <li><a href="/alunos/add">Adicionar Aluno</a></li>
    <li><a href="/alunos/delete">Apagar Aluno</a></li>
  </ul>

  <ul>
    <li><a href="/professor">Listar Professor</a></li>
    <li><a href="/professor/add">Adicionar Professor</a></li>
    <li><a href="/professor/delete">Apagar Professor</a></li>
  </ul>
 
</body>
</html>
